$colorFondoMain: rgb(255, 201, 190);

$colorFondoAside: rgb(202, 63, 89);

$colorFondoFooter: rgb(196, 144, 228);

$colorFondoHeader: rgb(205, 240, 234);

$colorFondoBody: rgb(218, 208, 194);

$FuenteLetra: 'Montserrat',
sans-serif;

$imgAnchoMenuMaximo: max-width: 300px;

$imgAnchoMenu: width: 100%;