.main__titulo {
    color: rgb(20, 20, 20);
    text-transform: capitalize;
    padding: 7%;
    font-size: 200%;
}

.main__subtitulo {
    text-transform: capitalize;
    padding: 5%;
    font-size: 150%;

}

.main__subtituloH3 {
    text-transform: capitalize;
    padding: 2%;
    font-size: 125%;

}

.navegador {
    margin: 10px 5px;
    text-align: center;
    background-color: hotpink;
}

.navegador__item,
.navegador__item--selected {
    margin: 0 5px;
    list-style-type: none;
}

.navegador__item a,
.navegador__item--selected a {
    color: grey;
    font-size: 0.9em;
    padding: 1%;
}

.navegador__item--selected a {
    color: black;
    border-bottom: black solid 2px
}

.referencia {
    padding: 100%;
    text-align: justify;
    color: hotpink;
}

.referencia__texto,
.referencia__imagen {
    font-size: 1em;
    letter-spacing: 0.1875em;
    word-spacing: 0.125em;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-align: justify;
}

.referencia__texto--nombre,
.referencia__texto--remarcado {
    font-size: 1, 2em;
    font-weight: bolder;
    text-decoration: underline;
}

.locacionStyle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#listaEstir {
    list-style-type: disc;
    padding: 10%;
    text-align: justify;
    font-size: 1.25em;
}

.imgMaxMenu {
    max-width: 300px;
    width: 100%;
}